include README.md
include requirements_ner.txt
include .gitignore
include install.sh
recursive-include templates *.html
recursive-include static *
recursive-include docs *.md
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.jsonl